#dashBoardVBox{
    -fx-background-color: #000000;

}

#dashBoardLendingReceivingBtn, #dashBoardCollectionBtn, #dashBoardMembersBtn{
    -fx-background-color: #E5E5E5;
}

#collectionAnchorPane, #membersAnchorPane, #lendingReceivingAnchorPane, #newMemberAnchorPane, #newCollectionAnchorPane, #editCollectionAnchorPane, #addCollectionAnchorPane{
    -fx-background-color: #E5E5E5;
}

#btnAddMembers, #btnAddItem, #btnLendItem, #btnReceiveItem, #btnAddNewMember, #btnEditItem, #btnEditMember, #btnAddNewItem{
    -fx-background-color: #0078D7;
    -fx-text-fill: #E7F2FB;
}

#btnEditCollection, #btnEditMembers, #btnCancelNewMember, #btnCancelEditItems, #btnCancelEditMember, #btnCancelNewItem{
    -fx-background-color: #797979;
    -fx-text-fill: #E7F2FB;
}

#btnDeleteMember, #btnDeleteItems{
    -fx-background-color:  #C60108;
    -fx-text-fill: #E7F2FB;
}

#lblItemsErrorMessage, #lblLendingReceivingError, #lblMembersErrorMessage{
    -fx-text-fill: #C60108;
}
#lblLendingReceivingSucces{
    -fx-text-fill:  #1D741B;
}

