#DashBoardAnchorPane{
    -fx-background-color: #000000;
}

#DashboardTabPane.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #000000;
}

#TabMembers{
    -fx-background-color: #E5E5E5;
}

#TabCollection{
    -fx-background-color: #E5E5E5;
}

#TabLending{
    -fx-background-color: #E5E5E5;
}

#AnchorPaneLendingLeft{
    -fx-background-color: #FFFFFF;
}

#AnchorPaneLendingRight{
    -fx-background-color: #FFFFFF;
}

#LblWelcomeUser{
    -fx-text-fill: #6F6F6F;
}

#BtnLendItem{
    -fx-background-color: #0078D7;
    -fx-text-fill: #E7F2FB;
}

#BtnReceiveItem{
    -fx-background-color: #0078D7;
    -fx-text-fill: #E7F2FB;
}

#BtnAdd{
    -fx-background-color: #0078D7;
    -fx-text-fill: #E7F2FB;
}

#BtnDelete{
    -fx-background-color:  #C60108;
    -fx-text-fill: #E7F2FB;
}

#BtnEdit{
    -fx-background-color: #797979;
    -fx-text-fill: #E7F2FB;
}

#LblLendItemSuccses{
    -fx-text-fill: #258200;
}

#LblLendItemError{
    -fx-text-fill: #C60108;
}

#LblReceiveItemSuccses{
    -fx-text-fill: #258200;
}

#LblReceiveItemError{
    -fx-text-fill: #C60108;
}

#AnchorPaneNewMember{
    -fx-background-color: #FFFFFF;
}

#LblAddNewMemberErrorMessage{
    -fx-text-fill: #C60108;
}

#LblAddNewMemberMessage{
    -fx-text-fill: #258200;
}

#LblEditItemsErrorMessage{
    -fx-text-fill: #C60108;
}

#LblEditItemsMessage{
    -fx-text-fill: #258200;
}

#LblMembersErrorMessage{
    -fx-text-fill: #C60108;
}

#LblItemsErrorMessage{
    -fx-text-fill: #C60108;
}